$color1: #28A282;
$color2: #DEDED8;
$color3: #B0BAB7;
$color4: #107586;
$color5: #148E88;
$color6: #f3f3ec93;


.main-display{
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    #gradiant{
        background-color: red;
    }
    img{
        z-index: 0;
        object-fit: cover;
        position: relative;
        height: 40vh;
        width: 50vw;
        // margin: 5vh;
        top: 0px;
        right: 0px
        // animation-name: slidein;
        // animation-duration: 2s;
        // box-shadow: 0px 0px 1rem 1rem $color2;
        // padding-right: 0px;
    }
    h1{
        position: relative;
        display: flex;
        flex-direction: row;
        font-weight: 700;
        top: 100%;
        left: 0px;
    }
    h2{
        font-weight: 700;
    }
}
@keyframes slidein {
    from {
        right: -1000px
    }
    to{
        right: -40px
    }
}