$color1: #28A282;
$color2: #DEDED8;
$color3: #B0BAB7;
$color4: #107586;
$color5: #148E88;
$color6: #f3f3ec;

// @media screen and (min-width: 400px) {
//     #header{
//         display: flex;
//         justify-content: space-between;
//         h1{
//             font-size: 250%;
//             padding: 1% 5% 1.5% 1.5%
//         }
//     }
//     ul{
//     }
//     a{
//         padding: .5% 2% .5% 2%;
//         background-color: rgb(44, 44, 44);
//         color: white;
//         text-decoration: none;
//     }
// }
@media screen and (min-width: 600px) {
    #header{
        h1{
            font-size: 250%;
            padding: 1% 5% 1.5% 1.5%
        }
    }
    ul{
        padding: 0px;
        display: inline-block;
        transform: skew(15deg);
        position: relative;
        right: .9%;
        background-color: rgb(44, 44, 44);
        width: 50%, auto;
    }
    a{
        display: inline-block;
        padding: .5% 2% .5% 2%;
        color: white;
        text-decoration: none;
        // transform: skew(-15deg);
    }
    a:hover{
        background-color: white;
        color: rgb(44, 44, 44);
    }
}

