$color1: #28A282;
$color2: #DEDED8;
$color3: #B0BAB7;
$color4: #107586;
$color5: #148E88;
$color6: #f3f3ec93;
$color7: #992323;
$color8: #666663;

#webdev{
        height: 86.5vh;
        display: flex;
        flex-direction: row;
    #left-bar-webdev:last-child{
        margin-bottom: 80px;
    }
    #left-bar-webdev{
        z-index: 1;
        box-shadow: 1px 1px 1px $color3, 1px 1px 1em $color3;
        // padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        background-color: rgb(145, 144, 144);
        height: 100%;
        overflow-y: scroll;
        margin: 0 auto;
        h1{
            font-weight: 700;
            margin: 2px;
        }
        h2{
            font-weight: 400;
            margin: 2px 2px 20px 2px;
        }
        p{
            font-weight: 300;
            width: 80%;
            line-height: 23px;
            margin-bottom: 10px;
            color: $color2;
            text-align: center;
        }
        img{
            margin: 300px 40px 15px 40px;
            width: 200px;
            height: 250px;
            object-fit:cover;
            border: 4px solid $color2;
            border-radius: 8px;
        }
    }
    #right-bar-webdev{
        z-index: 0;
        height: 100%;
         width: 70%;
         display: flex;
         flex-direction: column;
        .main-selector{
            position: relative;
            height: 43vh;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                overflow: hidden;

            }
            h1{
                display: none;
                position: absolute;
                font-weight: 700;
                text-align: center;
                width: 15%;
                font-size: 500%;
                height: 5%;
                right: 50%;
                top: 50%;
                text-decoration: none;
                color: rgb(44, 44, 44);
            }
            h1:hover{
                display: block;
            }
            .cover:hover + h1 {
                display: block;
            }
        }
        
    }
}
.cover{
    transition-duration: .5s;
    background-color: #f3f3ec38;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.cover:hover{
    transition-duration: .5s;
    // animation: fadeOut;
    // animation-duration: 2s;

   background-color: #f3f3ec8e;


}
@keyframes fadeOut {
    0% {background-color: #f3f3ec;}
    100% {background-color: #f3f3ec00;
} 
}